h1
{
	font-size: 30px;
}
h2
{
	font-size: 28px;
}
h3
{
	font-size: 22px;
}

body
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	
	width: 80%;
	background-color: #efc4a9;
}

header
{
	width: 100%;
	background-color: #ebb593;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	padding-left:10%;
}

header h1{
	padding:0.5em;
}


footer
{
	width: 100%;
	background-color: #ebb593;
	height: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding-left:10%;
	float:left;
}

a:link
{
	color: #df5353;
}

a:visited
{
	color: #9e49d8;
}

a:hover 
{	
	color: hotpink;
}


.center
{
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	float: left;
}

.right
{
	text-align: center;
	padding: 1%;
	float:left;
	width:25%;
}

.left
{
	text-align: center;
	padding: 1em;
	width:25%;
	float: left;
	/*border: solid orange 1px;*/
}

.menu
{
	position:fixed;
    top:5em; left:10%;
	text-align: center;
	padding: 1%;
	width: 20%;
	float: left;
}

.sticky
{
	position: sticky;
	top: 0;
	background-color: #efc4a9;
}

.list-group-item-mine {
  background-color: #fff5e6;
}

main h1
{
	border-bottom: solid gray 2px;
}

main h2
{
	border-bottom: solid gray 1px;
}

main h3
{
	border-bottom: dashed gray 1px;
}

#info h6
{
	background-color: #e77e7e;
	margin-top:1%;
	margin-bottom:1%;
	padding: 1%;
	color: black;
}

#info h3{ background-color:#e77e7e; padding:10px; }

#info table{ width:100%; text-align:left; }

#info td { width:50%; }

#info #profile
{width:90%; padding:1%;}

#nav h3 { background-color:#e77e7e; padding:10px; }