h1
{
	font-size: 30px;
}
h2
{
	font-size: 28px;
}
h3
{
	font-size: 24px;
}

body
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	padding-top: 2em;
	border: dashed blue 1px;
	width: 70%;
}

a:link
{
	color: blue;
}

a:visited
{
	color: purple;
}

a:hover 
{	
	color: hotpink;
}


.center
{
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: solid red 1px;
	float: left;
}

.menu
{
	position:fixed;
    top:5em; left:15%;
	text-align: center;
	padding: 1em;
	width: 17%;
	float: left;
	border: solid orange 1px;
	
}

.right
{
	text-align: center;
	padding: 1%;
	float:left;
	width:25%
}

.left
{
	text-align: center;
	padding: 1em;
	width:25%;
	float: left;
	border: solid orange 1px;
}

#main h1
{
	border-bottom: solid gray 2px;
}

#main h2
{
	border-bottom: solid gray 1px;
}

#main h3
{
	border-bottom: dashed gray 1px;
}

#info h6
{
	background-color: #CDC1C5;
	margin-top:1%;
	margin-bottom:1%;
	padding: 1%;
	color: black;
}

